:root {
  --primary-color: #ec1f55;
  --text-color: #333;
  --dark-color: #180161;
  --dark-color-1: #03346E;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

}

body {
  background-color: #f5f5f5;
  background: linear-gradient(45deg, black, rgb(137, 137, 137));
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 16px 16px 14px;
  background-color: rgba(255, 255, 255, 0.55);
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid #ebebeb;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
}
/* #region Volume */
.btn-volume {
  position: relative;
}

/* .btn-volume:hover .volume-wrap {
  display: block;
} */

.volume-wrap {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}

.volume-range {
  accent-color: var(--primary-color);
  height: 6em;
  writing-mode: vertical-lr;
  direction: rtl;
  vertical-align: bottom;
}
/* #endregion Volume */

/* #region HEADER */
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: var(--text-color);
  font-size: 20px;
}
/* #endregion HEADER */

/* #region Options */
.option {
  position: relative;
}

.option-list {
  position: absolute;
  background-color: #fff;
  width: 140px;
  top: 100%;
  right: -32%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: none;
}

.option-item {
  font-size: 14px;
  padding: 8px;
  cursor: pointer;
  user-select: none;
}

.option-item:hover {
  background-color: #f3f3f3;
}

.theme-icon {
  margin-left: 1em;
}
/* #endregion Options */

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.control .btn {
  color: #666;
  padding: 18px;
  font-size: 18px;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.progress {
  accent-color: var(--primary-color);
  width: 100%;
  height: 6px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* PLAYLIST */
.playlist {
  margin-top: 408px;
  padding: 12px;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 5px;
  font-family: Arial, sans-serif;
}


.current-time,
.total-time {
  font-size: 14px;
  color: #333;
  min-width: 50px;
  text-align: center;
}

#region Dark mode theme */
.dark {
  background-color: #03003f;
}

.dark .dashboard,
.dark .player {
  background-color: var(--dark-color);
  color: var(--primary-color);
}

.dark .player i:not(.icon-pause, .icon-play, .favorite i) {
  color: var(--primary-color);
}

.dark .dashboard {
  border: none;
}


.dark header h2 {
  color: #EEDF7A;
}

.dark .option-list {
  background-color: var(--dark-color-1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dark .control .btn.active i {
  color: var(--primary-color-1);
}


.dark .song {
  background-color: var(--dark-color-1);
  color: var(--primary-color);
}


.dark .song .author,
.dark .song .title {
  color: var(--primary-color);
}

.dark .song.active .author,
.dark .song.active .title {
  color: var(--primary-color-1);
}
/* #endregion Dark mode theme




